header {
  margin-top: 10vh;

}

header, footer, main{
  text-align: center;
  margin-bottom: 10vh;
}

main {
  display: flex;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
}

body {
  font-family: "Outfit", serif;
}

.left-side {
  background: linear-gradient(to bottom,hsl(252, 100%, 67%), hsl(241, 81%, 54%)) ;
  color: white;
  text-align: center;
  border-radius: 20px;
  width: 50%;
}

.inner {
  margin: 30px;

}

.right-side {
  color: black;
  padding: 10px;
  text-align: start;
  width: 50%;
  border-radius: 0 20px 20px 0 ;

}

.circle {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background: linear-gradient(to bottom,hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0)) ;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  color: white;
  display: flex;
  flex-direction: column;

}

.circle-number {
  font-weight: 500;
  font-size: 70px;
  margin: 0;
  margin-top: 30px;
}

button {
  border-radius: 30px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #303b59;
  color: white;
  border: none;
}

.type {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff5f5;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.bg-color-1 {
  background-color: #fff5f5;

}

.color-a {
  color: hsl(0, 100%, 67%);
}

.color-b {
  color: hsl(39, 100%, 56%);
}

.color-c {
  color: hsl(166, 100%, 37%);
}

.color-d {
  color: hsl(0, 100%, 67%);
}

.bg-color-2 {
  background-color: #fffbf2;
}

.bg-color-3 {
  background-color: #f2fafa;
}

.bg-color-4 {
  background-color: #f2f3fa;
  margin-bottom: 20px;
}

.quantity {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.gap {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;

}

.gap-right {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 30px;

}
