main {
  display: flex;
  border: 1px solid black;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 30vw;
}

body {
  font-family: "Outfit", serif;
}

.left-side {
  background-color: hsl(241, 81%, 54%);
  color: white;
  text-align: center;
  border-radius: 20px;
  width: 50%;
}

.inner {
  margin: 40px;
}

.right-side {
  color: black;
  padding: 10px;
  text-align: start;
  width: 50%;
  border-radius: 0 20px 20px 0 ;

}

.circle {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: aliceblue;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  color: black;
}

button {
  border-radius: 30px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
