main {
  display: flex;
}

body {
  font-family: "Outfit", serif;
}

.left-side {
  background-color: hsl(241, 81%, 54%);
  color: white;
  padding: 10px;
  text-align: center;
  border-radius: 20px;
}

.right-side {
  background-color: grey;
  color: white;
  padding: 10px;
  text-align: start;

}
